* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url("../images/bg-header-mobile.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 5rem;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*!-----------------------------------------------------------*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.75rem;
  gap: 4rem;
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
}
.img {
  margin: 2.25rem 0 0;
}
.title {
  font-weight: 900;
  opacity: 0.7;
  line-height: 1.875rem;
}
.section h1{
  height: 30px;
}
.description {
  line-height: 1.875rem;
  padding: 0 0.75rem;
  color: #9fabb2;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 0 0.875rem 1.875rem;
}
.btn {
  color: #ffffff;
  padding: 1rem 3rem;
  letter-spacing: 0.0625rem;
  font-weight: 600;
  border-radius: 3.125rem;
  font-family: inherit;
  font-size: 1.125rem;
  border: none;
  margin: 25px 0 0;
  max-width: 25rem;
  line-height: 1.5;
  cursor: pointer;
}
.button-ios {
  border-bottom: 0.0625rem solid var(--border-bottom-ios);
  background-color: #26baa4;
  box-shadow: 0rem 0.1875rem 0 #1b8d7c, 0rem 0.1875rem 0.9375rem #1b8d7c;
}
.button-mac {
  background-color: #6173ff;
  box-shadow: 0rem 0.1875rem 0 #3d4cbd, 0rem 0.1875rem 0.9375rem #3d4cbd;
}
.button-ios:hover,
.button-mac:hover {
  opacity: 0.6;
  scale: 1.02;
}
.snippets {
  margin-top: 4.5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.snippet .title,
.ios-mac-title {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 800;
  opacity: 0.7;
}
.snippet .description {
  color: #9fabb2;
  font-size: 0.96rem;
  line-height: 1.5625rem;
}
.mac-container,
.content {
  display: flex;
  flex-direction: column;
  gap: 3.25rem;
}
.mac-img {
  width: 100%;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tertiary-heading,
.clipboard-title {
  opacity: 0.7;
  font-size: 1.7rem;
}
.section-description,
.clipboard-description,
.text-description,
.ios-mac-description {
  color: #9fabb2;
  font-size: 0.96rem;
  line-height: 1.5625rem;
}
.clipboard-img {
  max-width: 100%;
  height: auto;
  padding: 2.5rem 0 6rem 0;
}
.clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin-top: 4.5rem;
  gap: 1rem;
}
.icons-texts {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.25rem;
  max-width: 100%;
}
.text-title {
  font-weight: 800;
  font-size: 1.5rem;
  opacity: 0.7;
}
.icon {
  padding-bottom: 1rem;
}
.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  gap: 64px;
}
.company-logo {
  width: 7.5rem;
}
.ios-mac {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 6rem 0;
  gap: 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8e8e868;
  padding: 3.5rem;
  margin-top: 2.5rem;
  gap: 2.5rem;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-links a {
  color: #000000;
  opacity: 0.9;
}
.footer-link {
  font-size: 1.1rem;
}
.footer-link:hover {
  cursor: pointer;
  color: #26baa4;
}
.footer-logo {
  width: 3.4375rem;
}
.footer-social-media-links {
  display: flex;
  gap: 2.5rem;
  margin: 0.25rem 0 0.25rem 0;
}
.footer-social-media-links a {
  color: #4b4e51;
  font-size: 30px;
}
.footer-social-media-links a:hover {
  color: #26baa4;
}
.footer-links {
  flex-direction: column;
}
.faq-contact,
.privacy-presskit {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
/* !----------------------------------------------- */
@media (min-width: 40rem) {
  .container {
    margin: 0 1.875rem;
  }
}
@media (min-width: 48rem) {
  .container {
    padding-top: 1rem;
    margin: 0 1.875rem;
  }

  .buttons {
    flex-direction: row;
  }
}
@media (min-width: 64rem) {
  body {
    background-image: url("../images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .main-title {
    font-size: 3rem;
    opacity: 0.7;
  }
  .snippets .title {
    font-size: 1.7rem;
  }
  .description {
    max-width: 45.625rem;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.0088rem;
    margin-bottom: 0;
  }
  .snippets {
    font-size: 2.25rem;
    line-height: auto;
    letter-spacing: -0.0369rem;
  }
  .snippet .description {
    max-width: 45.625rem;
    font-size: 1.125rem;
    line-height: 1.875rem;
    letter-spacing: 0.0088rem;
    margin-bottom: 3.125rem;
  }
  .mac-container {
    flex-direction: row;
    gap: 6.875rem;
  }
  .mac-img {
    width: 60%;
    margin-left: -4.1875rem;
  }
  .content {
    text-align: left;
  }
  .tertiary-heading {
    font-size: 1.5rem;
  }
  .section-description {
    font-size: 1rem;
    line-height: 1.875rem;
    letter-spacing: 0.0075rem;
    max-width: 21.875rem;
  }
  .clipboard {
    padding-top: 0;
    margin-top: 0;
  }
  .clipboard-img {
    width: 90%;
    padding-bottom: 6.25rem;
  }
  .icons-texts {
    flex-direction: row;
  }
  .companies {
    flex-direction: row;
  }
  .footer {
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
    gap: 1.875rem;
  }
  .footer-links {
    flex-direction: row;
    gap: 8.5rem;
  }
  .faq-contact,
  .privacy-presskit {
    display: flex;
    flex-direction: column;
    gap: 1.3125rem;
  }
}
@media (min-width: 80rem) {
  .mac-img {
    width: 60%;
    margin-left: -8.1875rem;
  }
  @media (min-width: 96rem) {
    .mac-img {
      width: 100%;
      margin-left: -25.1875rem;
    }
  }
}
